In [16]:
import pandas as pd

# Load the dataset
file_path = r"C:\Users\New\Desktop\Semester\Projects\A_rta_Project\superbowl_tweets.csv"
df = pd.read_csv(file_path)

In [18]:
print(df.info())  # Data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_posted  197 non-null    object
 1   date_posted  188 non-null    object
 2   description  197 non-null    object
 3   views        198 non-null    object
 4   replies      38 non-null     object
 5   reposts      39 non-null     object
 6   likes        107 non-null    object
 7   hashtags     188 non-null    object
 8   is_verified  198 non-null    bool
 9   photos       196 non-null    object
 10  url          198 non-null    object
dtypes: bool(1), object(10)
memory usage: 15.8+ KB
None

In [20]:
print(df.describe())  # Summary statistics

           user_posted               date_posted  \
count              197                       188
unique             165                       184
top     @COMBATWEATHER  2025-02-15T01:05:31.000Z
freq                11                         2

                                              description  \
count                                                 197
unique                                                194
top     https://x.com/kittyinforma/status/189080490313...
freq                                                    3

                                views replies reposts likes       hashtags  \
count                             198      38      39   107            188
unique                            144      13      15    21            138
top     61 views. View post analytics       1       1     1  #SuperBowlLIX
freq                                5      21      16    56             32

       is_verified                                             photos  \
count          198                                                196
unique           1                                                193
top          False  https://pbs.twimg.com/profile_images/188791971...
freq           198                                                  4

                                                      url
count                                                 198
unique                                                  1
top     https://twitter.com/search?q=#superbowl&src=ty...
freq                                                  198

In [22]:
print(df.isnull().sum())

user_posted      1
date_posted     10
description      1
views            0
replies        160
reposts        159
likes           91
hashtags        10
is_verified      0
photos           2
url              0
dtype: int64

In [24]:
df['is_verified'] = df['is_verified'].astype(bool)

In [26]:
# Extract numerical count using str.extract()
df['views_count'] = df['views'].str.extract(r'(\d+)')

# Convert to numeric safely
df['views_count'] = pd.to_numeric(df['views_count'], errors='coerce')

# Handle NaN values (choose one based on your needs)
# Option 1: Drop rows with NaN


# Option 2: Fill NaN with 0 (or another default value)
df['views_count'] = df['views_count'].fillna(0)

# Convert to integer after handling NaN
df['views_count'] = df['views_count'].astype(int)

In [28]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_posted  197 non-null    object
 1   date_posted  188 non-null    object
 2   description  197 non-null    object
 3   views        198 non-null    object
 4   replies      38 non-null     object
 5   reposts      39 non-null     object
 6   likes        107 non-null    object
 7   hashtags     188 non-null    object
 8   is_verified  198 non-null    bool
 9   photos       196 non-null    object
 10  url          198 non-null    object
 11  views_count  198 non-null    int32
dtypes: bool(1), int32(1), object(10)
memory usage: 16.6+ KB
None

In [30]:
print(df.isnull().sum())

user_posted      1
date_posted     10
description      1
views            0
replies        160
reposts        159
likes           91
hashtags        10
is_verified      0
photos           2
url              0
views_count      0
dtype: int64

In [32]:
df = df.drop(columns=['views'])

In [34]:
# Rename specific columns in-place
df.rename(columns={'views_count': 'views'}, inplace=True)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_posted  197 non-null    object
 1   date_posted  188 non-null    object
 2   description  197 non-null    object
 3   replies      38 non-null     object
 4   reposts      39 non-null     object
 5   likes        107 non-null    object
 6   hashtags     188 non-null    object
 7   is_verified  198 non-null    bool
 8   photos       196 non-null    object
 9   url          198 non-null    object
 10  views        198 non-null    int32
dtypes: bool(1), int32(1), object(9)
memory usage: 15.0+ KB
None

In [36]:
print(df.describe())

              views
count  1.980000e+02
mean   1.230736e+06
std    1.152421e+07
min    0.000000e+00
25%    2.800000e+01
50%    6.700000e+01
75%    1.980000e+02
max    1.349356e+08

In [38]:
df['replies'] = df['replies'].fillna(0)  # Fill with a default value
df['reposts'] = df['reposts'].fillna(0)
df['likes'] = df['likes'].fillna(0)
df['views'] = df['views'].fillna(0)

In [40]:
print(df.describe())

              views
count  1.980000e+02
mean   1.230736e+06
std    1.152421e+07
min    0.000000e+00
25%    2.800000e+01
50%    6.700000e+01
75%    1.980000e+02
max    1.349356e+08

In [42]:
print(df.isnull().sum())

user_posted     1
date_posted    10
description     1
replies         0
reposts         0
likes           0
hashtags       10
is_verified     0
photos          2
url             0
views           0
dtype: int64

In [44]:
df.to_csv('cleaned_data_twitter.csv', index=False)